@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --navbar-height: 60px;
    --leftSide-width:  80px;
    --chipBar-top-pos: var(--navbar-height);
}

@layer base{
    body{
        @apply font-roboto;
    }
}

@layer utilities{
    .line-clamp-2{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }
}
